.env
build
wandb
.vscode
data
**/__pycache__/
**/*.pyc
*.log
*.egg-info/
*.xlsx
!**/README.md
**/*.yaml
**/sim_res/*
sim_res

eval_results
log_model_tool_call
results_model_attempt
*.txt
outputs
claude.md
extracted_prompts
temp
scripts/inference_eval/temp.sh

fort.20
qs_gen/1D_euler icl.py
dataset_gen/oneD_euler_icl.py
scripts/inference_eval/inference_eval_euler_1d_icl.sh
ablation
