.env
build
wandb
.vscode
models
Mistral*
config/launch.yaml
launch.py
Makefile
src/toolbox
openai
LLaMA-Factory
data
result
results
training_results
# In your .gitignore file
**/__pycache__/
**/*.pyc
*.log
*.egg-info/
tool_result/
*.xlsx
*.md
!**/README.md
**/*.yaml
**/sim_res/*

eval_results
log_model_tool_call
results_model_attempt
